  <div class="panel mt-2">
    <div class="panel-header">
      <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" class="circle img-responsive">
      <div class="panel-title h5 text-center">{{ .Site.Params.author }}</div>
    </div>
  <!--  <div class="panel-body">
  <p>
    <a href="tel:{{ .Site.Params.tel_full }}">{{ .Site.Params.tel }}</a>
  </p>
  <address>
    <a href="{{ .Site.Params.google_maps }}">
      {{ .Site.Params.address }}<br/>
      {{ .Site.Params.postcode }}<br/>
      {{ .Site.Params.city }}<br/>
      {{ .Site.Params.country }}
    </a>
  </address>
  <p>
    <a href="{{ .Site.Params.website_full }}">{{ .Site.Params.website }}</a><br/>
    <a href="{{ .Site.Params.email_full }}">{{ .Site.Params.email }}</a>
  </p>
  </div> -->
  <div class="panel-footer text-center">
  <p>
    <a href="http://linkedin.com/in/{{ .Site.Params.Social.Linkedin }}"><i class="fa fa-linkedin"></i>&nbsp;LinkedIn</a><br />
    <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}"><i class="fa fa-twitter"></i>&nbsp;Twitter</a><br />
    <a href="http://github.com/{{ .Site.Params.Social.Github }}"><i class="fa fa-github"></i>&nbsp;Github</a><br />
  </p>
</div>
</div>