<section id="employment">
  <h1>{{ .Site.Data.employment.name }}</h1>
  <div class="timeline">
  {{ range $i, $el := .Site.Data.employment.source }}
  <div class="timeline-item" id="timline-employment-{{$i}}">
    <div class="timline-left">
      {{ if in $el.date  "Present" }}
      <a class="timeline-icon"></a>
      {{else}}
      <a class="timeline-icon icon-lg"><i class="icon icon-check"></i></a>
      {{end}}
    </div>
    <div class="timeline-content">
      <div class="tile">
        <div class="tile-content">
          <p class="tile-title text-primary">{{.date }}</p>
          <p class="tile-title">{{ .title }}</p>
          <p class="tile-subtitle text-gray">{{ .description }}</p>
          <p class="tile-subtitle"><em>{{ .place }}</em></p>
        </div>
      </div>
    </div>
    </div>
  {{ end }}
</div>
</section>
