html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#wrap.home {
    background-color: rgb(78, 101, 134);
    background-size: cover;
    background-image: url(/img/bg_1900x1080.jpg);    
}

#about-blurb-panel {
    background-color: rgba(255,255,255, 0.65)
}

#about-blurb-body > p {
    font-size: 175%; 
}

#main-nav {
    border-bottom: 4px solid rgb(64, 116, 219);
    padding: 0.2rem;
}

footer {
    border-top: 4px solid rgb(64, 116, 219);
    background-color: #ffffff;
}

#wrap {    
    flex: 1;
    
}

.box-link {
    text-decoration: none;
    color: #50596c;    
}

a.box-link:hover {
    text-decoration: none;
}

a.box-link:hover div.card {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.41);    
}
.social-links {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    animation: fade 1s ease 1s both;
}
    
.social-links li {
    display: inline-block;
    padding: 5px;
    padding-top: 0;
    text-align: center;
}
    
.social-links li a {
    font-size: 20px;
    color: #000;
    padding: 10px;
    padding-bottom: 4px;
    transition: all .4s ease;
}
    
.social-links li a:hover {
    color: #000;
}