{{ partial "head" . }}
<!-- Header -->
{{ partial "header" . }}
<div id="wrap">

  {{ partial "breadcrumbs" .}}
  <div class="container">
    <div class="columns">

      {{ range .Data.Pages.ByPublishDate }}
      <div class="column col-4 col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-2">
        <a class="box-link" href="{{ .RelPermalink }}">
          <div class="card">
            {{ if isset .Params "pageimage"}}
            <div class="card-img post-card-img">
              <img class="img-responsive" src="/img/post-img/{{ .Params.pageimage }}" />
            </div>
            {{end}}
            <div class="card-header">
              <div class="card-title">{{.Title | markdownify}}</div>
              <div class="card-subtitle text-gray">{{ .Date.Format "January 2, 2006" }}</div>
            </div>
            <div class="card-body">
              {{.Summary}}
            </div>
            <div class="card-footer">
            </div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
<!-- Footer -->
{{ partial "footer" . }} {{ partial "foot" . }}