{{ partial "head" . }}

<!-- Header -->
{{ partial "header" . }}
<div id="wrap">

  {{ partial "breadcrumbs" .}}
  <div class="container grid-md">
    <div class="card">
      <div class="card-header">

        <h3 class="card-title">
          <strong><a href="{{ .Permalink }}">{{ .Title|markdownify }}</a></strong>
        </h3>
        <h4 class="card-subtitle text-gray">
          {{ .Date.Format "January 2, 2006" }} {{ range .Params.tags }}
          <a href="{{ $.Site.BaseURL }}/tags/{{ . }}" class="label label-secondary">{{ . }}</a> {{ end }}
        </h4>
      </div>
      {{if isset .Params "pageimage"}}
      <div class="card-image">
        <img class="img-responsive" src="{{ .Site.BaseURL }}/img/post-img/{{ .Params.pageimage }}" />
      </div>
      {{end}}
      <div class="card-body">
        {{ .Content }}
        <div class="related-posts">
          <h5>Related Posts</h5>
          {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink) }}
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <h6 style="text-align: right">
                {{ .Date.Format "January 2, 2006" }}
              </h6>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <h6 style="text-align: left">
                <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
              </h6>
            </div>
          </div>
          {{ end }}
        </div>
        {{ partial "disqus" . }}
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
{{ partial "footer" . }} {{ partial "foot" . }}