{{ if ne (add .Site.BaseURL "/") (add .Permalink "/")}}
<!-- templates -->
<div class="container">
    <div class="columns">
        <div class="column col-12">{{ $siteUrl := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
                {{ $.Scratch.Add "sitePath" .Site.BaseURL }}
                
                {{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
                {{ range $index, $element := split $siteUrl "/" }}
                {{ $.Scratch.Add "sitePath" $element }}
                {{ $.Scratch.Add "sitePath" "/" }}
                {{ if ne $element "" }}
                {{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" ($.Scratch.Get "sitePath") "name" . "position" (add $index 2))) }}
                {{ end }}
                {{ end }}
                    <ul class="breadcrumb">
                        {{ range $.Scratch.Get "siteBreadcrumbs" }}
                        <li class="breadcrumb-item"><a href="{{ .url }}">{{ .name }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
        </div>
    </div>
</div>
{{end}}