<header id="main-nav" class="navbar">
  <section class="navbar-section">
    <a class="navbar-brand mx-2" href="{{ .Site.BaseURL }}">David Smith</a>
  </section>
  <section class="navbar-right">
    {{ if .Site.Menus.main }} {{ range sort .Site.Menus.main }}
    <a class="btn btn-link" href="{{ .URL }}">{{ .Name | upper }}</a> {{ end }} {{ end }}
  </section>
</header>