{{ partial "head" . }}
    <div id="wrap">
      {{ partial "header" . }}
      <div class="container">
        <div class="page-not-found">
          <h3>Uh oh! Page not found!</h3>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
    {{ partial "foot" . }}