{{ partial "head" . }}
    <div id="wrap">
  {{ partial "header" . }}
  <section id="about" class="container">
      <div class="columns">
        <div class="col-6 col-mx-auto">
          <img class="circle avatar" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
      </div>
      <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a lapsed academic and product geek.</h3>
      <h3>There's not much here at the moment, but I have a book on the way!</h3>
      <h3>I've also worked on a few interesting <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
      <h3>For more check out my academic &amp; professional <a href="https://demo.nurlan.co/hugo-vitae/">CV</a>.</h3>
      <h3>Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}.</h3>
        {{ partial "social.html" . }}
    </section>
  </div>
  {{ partial "footer" . }}
  {{ partial "foot" . }}