{{ partial "head" . }}

<!-- Header -->
{{ partial "header" . }}
<div id="wrap">
  {{ partial "breadcrumbs" .}}
  <div class="container grid-md">
    <section id="projects" class="columns">
      <div class="column col-12 col-mx-auto">
        <h3>{{ .Site.Data.projects.name }}</h3>
        {{ range $i, $el := .Site.Data.projects.source }}
        <div class="tile mt-2 pb-2">
          <div class="tile-icon">
            <figure class="avatar avatar-xl" data-initial="X"><img src="{{ .Site.BaseURL}}/img/projects/{{ .icon }}" /></figure>
          </div>
          <div class="tile-content">
            <strong><a href="{{ .link}}">{{ .name }}</a></strong>&nbsp;-&nbsp;{{ .description }}
          </div>
        </div>
        {{ end }}
      </div>
    </section>
  </div>

</div>
<!-- Footer -->
{{ partial "footer" . }} {{ partial "foot" . }}