{{ partial "head" . }}
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" /> {{ partial "header" . }}
<div id="wrap">
  {{ partial "breadcrumbs" .}}
  <section id="vitae" class="container grid-lg">
    <div class="columns">
      <div class="column col-3">
        {{ partial "vitae/contact" . }}
      </div>
      <div class="column col-9">
        {{ partial "vitae/employment" . }} {{ partial "vitae/education" . }}
      </div>
    </div>
  </section>
</div>
{{ partial "footer" . }} {{ partial "foot" . }}